:root {
    --ex-white: #ffffff;
    --ex-gray: #34495e;
    --ex-darkgray: #2c3e50;
}

.ex-select-wrapper {
    position: relative;
    display: flex;
    width: 14em;
    height: inherit;
    border-radius: .25em;
    overflow: hidden;
    margin-right: 0.2em;
}
/* Arrow */
.ex-select-wrapper::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    width: 2em;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--ex-gray);
    transition: .25s all ease;
    pointer-events: none;
    color: var(--ex-white);
    font-size: 0.9em;
}
/* Transition */
.ex-select-wrapper:hover::after {
}

.ex-select {
    /* Reset Select */
    appearance: none;
    outline: 0;
    border: 0;
    box-shadow: none;
    /* Personalize */
    flex: 1;
    padding: 0 1em;
    color: var(--ex-white);
    background-color: var(--ex-darkgray);
    background-image: none;
    cursor: pointer;
}
/* Remove IE arrow */
.ex-select::-ms-expand {
    display: none;
}
.ex-select__option--placeholder {
    display: none;
}